GOOGLE_DRIVE_ROOT_FOLDER_ID=your_google_drive_root_folder_id
GOOGLE_APPLICATION_CREDENTIALS=credentials/service_account.json
GOOGLE_DRIVE_ACCOUNT_NAMES=second
GOOGLE_DRIVE_ROOT_FOLDER_ID_SECOND=your_second_google_drive_root_folder_id
LOCAL_ARCHIVE_ROOT=C:\Users\vdvfi\SynologyDrive\GoogleArchive
LOCAL_ARCHIVE_AFTER_DAYS=7
